# See https://help.github.com/ignore-files/ for more about ignoring files.

.tern-port
.idea/
.vscode/

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/example/build
/example/node_modules

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

